# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
bin/Debug/FSharp.Core.dll
bin/Debug/FSharp.Core.xml
bin/Debug/FsLexYacc.Runtime.dll
bin/Debug/FsLexYacc.Runtime.xml
bin/Debug/SchizoFS.exe
bin/Debug/SchizoFS.exe.config
bin/Debug/SchizoFS.pdb
bin/Debug/SchizoFS.XML
bin/Debug/tests/parser-test.schizo
obj/Debug/SchizoFS.exe
obj/Debug/SchizoFS.fsproj.FileListAbsolute.txt
obj/Debug/SchizoFS.fsprojResolveAssemblyReference.cache
obj/Debug/SchizoFS.pdb
SchizoFS.v11.suo
SchizoFS.v12.suo
